#modal {
    display: none; /* La modal est cachée par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fond sombre semi-transparent */
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    border-radius: 2%;
    margin: 15% auto;
    padding: 85px;
    border: 1px solid #888;
    width: 630px;
    height: 688px;
    position: relative;

}

.modal-content .fa-xmark {
    display: flex;
    justify-content: right;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.modal-content h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    
}

.photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(179, 179, 179, 1); 
}


.photoElement {
    position: relative;
    display: flex;
    justify-content: center;
    width: 20%;
}

.photo img {
    display: flex;
    width: 90%;
    height:auto;
    padding: 15px;
    
}

.fa-trash-can {
    position: absolute;
    top: 25px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: black;
    color: white;
    font-size: 10px;
    cursor: pointer;
}

.modal-content2 {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    border-radius: 2%;
    margin: 15% auto;
    padding: 30px 85px 0px 85px;
    border: 1px solid #888;
    width: 630px;
    height: 670px;

}

.modal-content2 .fa-arrow-left {
    display: flex;
    justify-content: left;
    width: 100%;
    position: absolute;
    top: 30px;
    right: -25px;
    font-size: 25px;
    cursor: pointer;
    
}

.modal-content2 .fa-xmark {
    display: flex;
    justify-content: right;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.modal-content2 h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.ajout {
    font-family: 'Syne';
	font-weight: 300;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 40%;
	text-align: center;
	border-radius: 60px ;
}

.cadre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 169px;
    background: rgba(232, 241, 246, 1);
}

.cadre .fa-image {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgba(185, 197, 204, 1);
}

.cadre p {
    font-size: 10px;
}

.ajout-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color:rgba(185, 197, 204, 1) ;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(48, 102, 133, 1);
    border: none;
    margin: 15px 0px;
}

.photo form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 51px;
}

.modifPhoto {
    border-bottom: 1px solid rgba(179, 179, 179, 1);
    width: 100%;
    height: 415px;
    
}
.modal-content2 form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgba(179, 179, 179, 1); 
    padding-bottom: 25px;
}

.modal-content2 form label {
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 0px;
}

.modal-content2 form input {
    border: none;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    height: 51px;
}

.modal-content2 form select {
    border: none;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    height: 51px;
    
}

.valider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin-top: 25px;
    font-family: Syne;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    background: rgba(167, 167, 167, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}


.cadre img {
    height: 169px;
}

.simple-bouton {
    font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	color: white;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
    width: 35%;
	height: 37px;
	border-radius: 60px;
	background-color:#1D6154;
	padding: 10px 25px;
    margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}